@define-color black #000000;
@define-color lightgray #aaaaaa;

@define-color surface2 #585b70;

* {
    font-family: Monocraft;
    font-weight: bolder;
    font-size: 12px;
}

window#waybar {
    background-color: @black;
    color: @lightgray;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button:hover {
    color: @blue;
    box-shadow: inherit;
    text-shadow: inherit;
    background: @black;
    border: @black;
}


#workspaces button.selected {
    color: #aaaaff;
}

#workspaces button.active {
    color: #55ffaa;
}

#workspaces button.urgent {
    color: #ffaa55;
}


#workspaces button {
    padding: 0 5px;
    color: @surface2;
    margin: 4px 0 4px 6px;
    transition: color 200ms ease-in-out;
}

#memory,
#pulseaudio,
#backlight,
#network,
#clock{
    padding: 0 5px;
    color: @lightgray;
    border-radius: 3px;
    margin: 0 2px;
}

#window,
#workspaces {
    margin: 0 2px;
    margin-left: 2px;
}

#clock {
  color: @lightgray;
}

#pulseaudio {
  color: #ff5555;
}

#pulseaudio.muted {
  color: #555555;
}

#backlight {
    color: #ffff55
}

#network {
  color: #55ffff;
}

#network.disconnected {
  color: #555555;
}
