
@theme "Monokai"

* {
	font: 'terminus 12';
	background: #080808;
	foreground: #ffffff;
	separatorcolor: #161616;
}

element {
	children: [ element-icon, element-text ];
	spacing: 25px;
}

window {
	border-color: #323232;
	border: 2;
}
